@{
    ViewBag.Title = "Contact";
}
<h2>Developer</h2>
<h3>Engr. Dindo Gamilo</h3>

<address>
    Software Developer<br />
    Part-time College Instructor<br />

</address>

<address>
    <strong>Mobile No.:</strong>   <label class="control-label">09267380803</label><br />
    <strong>Email:</strong> <a href="mailto:gamilodindo017@gmail.com">gamilodindo017@gmail.com</a>
</address>